<%= form_tag sessions_path do %>
  <label >
    Email:
    <%= email_field_tag :email %>
  </label>
  <label>
    Password: <%= password_field_tag :password %>
  </label>
  <%= submit_tag 'Login' %>
<% end %>
Not a user yet? <br>
<%= link_to 'Register', new_user_path %>