<h2>Posts list</h2>
<%= link_to 'Home', home_path %>
<%= form_tag(posts_search_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, nil, {required: true})%>
  <%= submit_tag("Search") %>
<% end %>

<% @posts.each do |post| %>
	<h2><%= link_to post.title, post_path(post) %></h2> by <%= post.author.name %>
	<div><%= post.content %></div>
<% end %>

